{% extends "base.html" %}
{% block start %}


<div class="container mt-5 pt-5">
    <h3>Order id - {{order.order_id}}</h3>
    <p>Amount - ₹ {{order.amount}}</p>
    <td class="py-3"><span class="label " id="status">{{order.status}}</span></td>

    <!-- {% if order.status == 'Order Initiated' %}
    <td class="py-3"><span class="label label-primary" id="status">{{order.status}}</span></td>
    {% elif order.status == 'Baking' %}
    <td class="py-3"><span class="label label-info" id="status">{{order.status}}</span></td>
    {% elif order.status == 'Out for Delivery' %}
    <td class="py-3"><span class="label label-warning" id="status">{{order.status}}</span></td>
    {% elif order.status == 'Order Received' %}
    <td class="py-3"><span class="label label-success" id="status">{{order.status}}</span></td>
    {% else %}
    <td class="py-3"><span class="label label-danger" id="status">{{order.status}}</span></td>
    {% endif %} -->
    <div class="progress mt-4">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
    </div>
  

  </div>
  
  
  <script>
    var order_id = '{{order.order_id}}'
    let socket = new WebSocket('ws://127.0.0.1:8000/ws/OrderTracking/' + order_id);
    socket.onopen = function (e) {
      console.log('Connection established');
    };
  
    socket.onmessage = function (e) {
      var data = JSON.parse(e.data)
      var value = data.payload.progress
      increaseProgress(value , data.payload.status)
  
    };
    socket.onclose = function (e) {
      console.log('Connection closed');
    };
  
    function increaseProgress(value , status){
     
      var progress = document.querySelector('.progress-bar')
      var status_html = document.querySelector('#status')
     
      
      if(value == 25){
        progress.classList.add('bg-primary')
        status_html.classList.add('label-primary')
      }else {
        progress.classList.remove('bg-primary')
        status_html.classList.remove('label-primary')
      }

      if(value == 50){
        progress.classList.add('bg-info')
        status_html.classList.add('label-info')
      }else {
        progress.classList.remove('bg-info')
        status_html.classList.remove('label-info')
      }
      
      if(value == 75){
        progress.classList.add('bg-warning')
        status_html.classList.add('label-warning')
      }else {
        progress.classList.remove('bg-warning')
        status_html.classList.remove('label-warning')
      }

      if(value == 100){
        progress.classList.add('bg-success')
        status_html.classList.add('label-success')
      }else {
        progress.classList.remove('bg-success')
        status_html.classList.remove('label-success')
      }
  
      status_html.innerHTML  = status
      progress.style.width = value + "%"
     
    }
  
    
  
  </script>
<br>
<br>
{% endblock %}